[submodule "apps/borrowers"]
	path = apps/borrowers
	url = git@github.com:abuiles/borrowers.git
	branch = master
[submodule "apps/cast"]
	path = apps/cast
	url = git@github.com:emberjax/cast.git
	branch = master
[submodule "apps/ember-cli-blog"]
	path = apps/ember-cli-blog
	url = git@github.com:broerse/ember-cli-blog.git
	branch = master
[submodule "apps/ember-cli-simple-auth-devise"]
	path = apps/ember-cli-simple-auth-devise
	url = git@github.com:givanse/ember-cli-simple-auth-devise.git
	branch = master
