[submodule "apps/borrowers"]
	path = apps/borrowers
	url = git@github.com:abuiles/borrowers.git
	branch = master
[submodule "apps/cast"]
	path = apps/cast
	url = git@github.com:emberjax/cast.git
	branch = master
[submodule "apps/ember-cli-blog"]
	path = apps/ember-cli-blog
	url = git@github.com:broerse/ember-cli-blog.git
	branch = master
[submodule "apps/ember-cli-simple-auth-devise"]
	path = apps/ember-cli-simple-auth-devise
	url = git@github.com:givanse/ember-cli-simple-auth-devise.git
	branch = master
[submodule "apps/ember-cli-todos"]
	path = apps/ember-cli-todos
	url = git@github.com:ember-cli/ember-cli-todos.git
	branch = master
[submodule "apps/ember-jobs"]
	path = apps/ember-jobs
	url = git@github.com:stefanpenner/ember-jobs.git
	branch = master
[submodule "apps/ember-twiddle"]
	path = apps/ember-twiddle
	url = git@github.com:ember-cli/ember-twiddle.git
	branch = master
[submodule "apps/ember-weekend"]
	path = apps/ember-weekend
	url = git@github.com:ember-weekend/ember-weekend.git
	branch = master
[submodule "apps/emberobserver.client"]
	path = apps/emberobserver.client
	url = git@github.com:emberobserver/client.git
	branch = master
[submodule "apps/facturas-client"]
	path = apps/facturas-client
	url = git@github.com:abuiles/facturas-client.git
	branch = master
[submodule "apps/team-time-zone"]
	path = apps/team-time-zone
	url = git@github.com:alisdair/team-time-zone.git
	branch = master
[submodule "apps/huboard-web"]
	path = apps/huboard-web
	url = git@github.com:huboard/huboard-web.git
	branch = master
[submodule "apps/hummingbird"]
	path = apps/hummingbird
	url = git@github.com:hummingbird-me/hummingbird.git
	branch = master
[submodule "apps/ghost"]
	path = apps/ghost
	url = git@github.com:TryGhost/Ghost.git
	branch = master
[submodule "apps/wordset-ui"]
	path = apps/wordset-ui
	url = git@github.com:wordset/wordset-ui.git
	branch = master
